<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="#">
            Link1
          </a>
        </li>
        <li>
          <a href="#">
            Acerca de nosotros
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
        <li>
          <a href="">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, hecho con conciencia <i class="material-icons">favorite</i> por
      <a href="https://www.creative-tim.com" target="_blank">Nosotros</a> para un mundo mejor.
    </div>
  </div>
</footer>