<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instittution.name %>
</p>

<%= link_to 'Edit', edit_instittution_path(@instittution) %> |
<%= link_to 'Back', instittutions_path %>
