<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @law_category.name %>
</p>

<%= link_to 'Edit', edit_law_category_path(@law_category) %> |
<%= link_to 'Back', law_categories_path %>
